<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Play Groundy Roundy</title>
</head>

<style>
    h1 {
        text-align: center;
        color: {{ color }};
    }
    .box_outer {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box_inner {
        width: 300px;
        height: 300px;
        margin: 15px;
        border: 5px solid lightblue;
    }
</style>

<body>
<h1>Welcome to the Squares</h1>

    <div class="box_outer">
        {% for i in range(0, num) %}
        <div class="box_inner" style="background-color: {{ color }}";></div>
        {% endfor %}
    </div>
</body>
</html>