<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Author Page</title>
</head>
<body style="padding: 15px;">
    
    <h2> {{ author.name }}'s Favorites</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Fav</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BOOK TITLE HERE</td>
            </tr>
        </tbody>
    </table>


    <form action="/like_book" method="post" style="background-color: rgb(174, 209, 240); padding: 10px; border-radius: 20px;">

        <input type="hidden" name="action" value="like_book">   

    <div class="mb-3">
        <select name="all_books" class="form-select">
        {% for book in all_books %}
        <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success">Like Book</button>
    
</form>


    <form action="/">
        <button type="submit" class="btn btn-dark" style="margin-top: 5px;">Home</button>
    </form>

</body>
</html>