* {
    margin: 25px;
    padding: 25px;
    justify-content: center;
    align-items: center;
}


div {display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons {
        background-color: #4CAF50;
        border: 2px solid black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}