<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Recipe Share | Your Dashboard</title>
</head>
<body style="padding: 15px;">

    <nav class="navbar bg-body-tertiary">
        <div id="top" class="container-fluid" style="background-color: rgb(145, 199, 181); border-radius: 25px;">
            <div>
                <h1>Recipes</h1>
                <h3>A site to talk about recipes.</h3>
            </div>
            <div style="display: flex; flex-direction: column;">
                <h3>Hello, {{ user.first_name }}</h3>
                <a href="/my_recipes" class="navbar-brand">My Recipes</a>
                <a href="/new_recipe" class="navbar-brand">+ Create</a>
                <a href="/logout" class="navbar-brand"> Logout </a>
            </div>
        </div>
    </nav>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Recipe Name</th>
                    <th>Under 30?</th>
                    <th>Posted By</th>
                    <th>Description</th>
                    <th>Instructions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if all_recipes %}
                {% for single_recipe in all_recipes %}
                <tr>
                    <td>{{ single_recipe.name }}</td>
                    <td>{{ single_recipe.under_30 }}</td>
                    <td>{{ single_recipe.creator.first_name }} {{ single_recipe.creator.last_name }}</td>
                    <td>{{ single_recipe.description }}</td>
                    <td>{{ single_recipe.instructions }}</td>
                    <td><a href="/recipe_show/{{ single_recipe.id }}">View Recipe</a> 
                    {% if session['user_id'] == single_recipe.creator.id %}
                        <a href="/edit_recipe/{{ single_recipe.id }}">Edit</a>
                        <a href="/delete/{{ single_recipe.id }}">Delete</a>
                    {% endif %}
                {% endfor %}
                {% else %}
                {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
</body>
</html>